{% extends "myfarm/base.html" %}

{% block content %}
<!-- Page Content -->
<div>
    <h3>Filter Product</h3>
    <form>
        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" placeholder="Title contains...">
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Category</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="0">Fruits</option>
                    <option value="1">Vegetables</option>
                    <option value="2">Nuts</option>
                    <option value="3">legumes</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputState">Product</label>
                <select id="inputState2" class="form-control">
                    <option selected>Choose...</option>
                    <option value="0">apple</option>
                    <option value="1">banana</option>
                    <option value="2">orange</option>
                    <option value="3">strawberry</option>
                </select>
            </div>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail1">Price Min $</label>
                <input type="number" class="form-control" id="inputEmail1" placeholder="Price Min">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword2">Price Max $</label>
                <input type="number" class="form-control" id="inputPassword2" placeholder="Price Max">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail3">Menge Min</label>
                <input type="number" class="form-control" id="inputEmail3" placeholder="Menge Min">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Menge Max</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="Menge Max">
            </div>
        </div>

        <!-- <div class="form-group" style="display: inline"> -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="publishDateMin">Publish date minimum</label>
                <input type="date" class="form-control" id="publishDateMin" value="YYYY-MM-DD">
            </div>
            <div class="form-group col-md-6">
                <label for="publishDateMax">Publish date maximum</label>
                <input type="date" class="form-control" id="publishDateMax" value="YYYY-MM-DD">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <div>
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    GMO Free
                </label>
                </div>
                <div>
                <input class="form-check-input" type="checkbox" id="gridCheck2">
                <label class="form-check-label" for="gridCheck">
                    Organic
                </label>
                </div>
                <div>
                <input class="form-check-input" type="checkbox" id="gridCheck3">
                <label class="form-check-label" for="gridCheck">
                    Fair trade
                </label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="text">
        <button type="submit" name="button">Submit</button>
    </form>
    <h2>{{ text }}</h2>
    {% for post in posts %}
        <h1>{{ post.post }}</h1>
    {% endfor %}
</div>
<!-- /.container -->
{% endblock content %}
